imageio==2.31.1
kornia==0.7.1
matplotlib==3.7.1
numpy==1.25.0
open3d==0.18.0
opencv-contrib-python==4.5.5.62
pandas==1.5.3
Pillow==9.4.0
pydegensac==0.1.2
pyquaternion==0.9.9
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
ultralytics
supervision
pytest
